@import "compass/css3";



.body {
  font-family: 'Roboto', sans-serif;
	margin-left: auto;
  margin-right:auto;
  
}

/*.before_after_slider
{
    position: absolute;
    width:600px;
    height:600px;
}*/

.before_after_slider {
  width: 400px;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  margin-top:4%;
  margin-bottom:4%;
  
  & > * {
    position: absolute;
  }
}

#pool, #conflict, #toys {
    position: relative;
    width:600px;
    height:400px;
    margin-left:20%;
  margin-right:auto;
  margin-top:4%;
  margin-bottom:8%;
}



.black_white  {
  overflow: hidden;
  position:absolute;
  top:0px;
  left:0px;
  z-index: 1;
}

h1 {
  font-family: 'Roboto', sans-serif;
   margin-left: 20%;
  margin-right: 20%;
}

h6 {
  font-family: 'Roboto', sans-serif;
  margin-left:20%;
}

p {
  font-family: 'Roboto', sans-serif;
	font-size: .8em;
	margin-top: .25%;
	margin-bottom: 4%;
}

.copy {
  font-family: 'Roboto', sans-serif;
  font-size:1em;
  margin-top:6%;
  margin-left: 20%;
  margin-right: 20%;
}

a {
  text-decoration: none;
  color:brown;
}
.lede {
  margin-top:3%;
}